# Ignore database files
*.db
*.sqlite3

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local development settings
**/settings/local.py

# Ignore IDE-specific directories (you can add more if needed)
.vscode/
.idea/
*.swp
*.swo

# Ignore other commonly ignored files and directories
*.class
*.cache
*.egg-info/
*.egg
*.env
*.log
*.tmp
*.bak
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

# Ignore migration files, except __init__.py inside migrations folders
**/migrations/*
!**/migrations/__init__.py